<div class="author">
  <h4>  <a href="/authors/<%= author.id %>">
      <%= author.first_name %> <%= author.last_name%>  </a>
  </h4>
  <% if showTestimonial == true %>
    <p><%= author.testimonial %></p>
  <% end %>
  <% author.books.each do |book| %>
    <% if book.featured %>
      <div class="author__image-wrapper">
        <% unless Rails.application.assets.find_asset("old_images/#{book.old_filename}.jpg").nil? %>
          <%= image_tag("old_images/#{book.old_filename}.jpg", class: "author__image") %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
