<div class="author">
  <a href="/authors/<%= author.id %>"><h4><%= author.first_name %> <%= author.last_name%></h4></a>
  <p><%= author.testimonial %></p>
  <ul>
    <% author.books.each do |book| %>
      <% if book.featured %>
        <li><%=book.title%></li>
        <% unless Rails.application.assets.find_asset("old_images/#{book.old_filename}.jpg").nil? %>
          <%= image_tag("old_images/#{book.old_filename}.jpg") %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
