<section class="author__form">
<%= form_with(model: author, local: true) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>
      <ul>
        <% author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :first_name %>
    <br />
    <%= form.text_field :first_name, id: :author_first_name %>
  </div>
  <div class="field">
    <%= form.label :last_name %>
    <br />
    <%= form.text_field :last_name, id: :author_last_name %>
  </div>
  <div class="field">
    <%= form.label :full_name %>
    <span>(i.e. "Aitken, Elena")</span>
    <br />
    <%= form.text_field :full_name, id: :author_full_name %>
  </div>
  <div class="field">
    <%= form.label :website %>
    <br />
    <%= form.text_field :website, id: :author_website %>
  </div>
  <div class="field">
    <%= form.label :testimonial %>
    <br />
    <%= form.text_area :testimonial, id: :author_testimonial %>
  </div>
  <div class="field">
    <%= form.label :slug %>
    <span>(i.e. "elena-aitken", will be used in URL for each author)</span>
    <br />
    <%= form.text_field :slug, id: :author_slug %>
  </div>
  <div class="field">
    <%= form.label "Featured"%>
    <%= form.check_box :featured_author %>
  </div>
    <div class="field">
    <%= form.label "Visible"%>
    <%= form.check_box :visible %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</section>