<p id="notice"><%= notice %></p>
<h1>Authors</h1>
<%= link_to 'New Author', new_author_path %>
<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.first_name %></td>
        <td><%= author.last_name %></td>
        <td><%= author.slug %></td>
        <td><%= link_to 'Show', author_path(slug: author.slug) %></td>
        <td><%= link_to 'Edit', edit_author_path(slug: author.slug) %></td>
        <td><%= link_to 'Destroy', author_path(slug: author.slug), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
