<p id="notice"><%= notice %></p>
<p>
  <strong>Work done:</strong>
  <%= @book.work_done %>
</p>
<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Old filename:</strong>
  <%= @book.old_filename %>
</p>
<% if @book.featured %>
  <p>
    <strong>Featured</strong>
  </p>
<% end %>

<%= image_tag @book.picture.url if @book.picture? %>

<% if current_user && current_user["admin_rights"] == true %>

<%= link_to 'Edit', edit_book_path(@book) %>
<% end %>