<!DOCTYPE html>
<html>
  <head>
          <meta charset="utf-8">
    <title>AtwaterRails</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,300,700,400italic">
    <%= favicon_link_tag asset_path('atwater_favicon.ico'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
    <button onClick="sidebarToggle()" style="position: absolute; top: 0; left: 0; z-index: 500;">Toggle</button>
    <%= render 'partials/sidebar' %>
    <div class="body__content">
    <%= yield %>
    </div>
  </body>
</html>
