<!DOCTYPE html>
<html>
  <head>
    <title>AtwaterRails</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,300,700,400italic">
  </head>

  <body>
    <button onClick="sidebarToggle()" style="position: absolute; top: 0; left: 0; z-index: 500;">Toggle</button>
    <%= render 'partials/sidebar' %>
    <div class="body__content">
    <%= yield %>
    </div>
  </body>
</html>
