<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,300,700,400italic">
    <%= favicon_link_tag asset_path('atwater_favicon.ico'), :rel => 'icon', :type =>  'image/png' %>
    <meta name="stripePublishableKey" content="<%= Rails.configuration.x.stripe.publishable_key %>">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <div class="mobileNav">
      <div class="mobileNav-heading"><%= link_to("The Atwater Group", root_path) %></div>
    <button type="button" onClick="sidebarToggle()" class="button--toggle"> <i class="fa fa-align-left"> </i> Menu</button>
    </div>
    <%= render 'partials/sidebar' %>
    <div id="body" class="body__content <%= @slug %>">
      <div class="body__content__inner">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
